- provide :title, 'Help'

%h1 Help

.row
  .col-md-4
    %h4 What is Sound Shuffle?
    %p
      Sound Shuffle is a free service allowing you to create publically accessible playlists. Through the Sound Shuffle platform users can vote for which track they want to hear next, influencing the queue of songs in real time.
  .col-md-4
    %h4 How does it work?
    %p
      Sound Shuffle relies on user contribution, when a playlist is created an easy to remember URL will be given, which can they be publically accesed withtout the need for an account.
    %p
      From there anyone can vote on tracks and after a track has finished, the next song to be played in calculated using the Sound Shuffle algorith based on number of votes and times played.
  .col-md-4
    %h4 How do I make a playlist?
    %p
      To make a playlist simply create an account and press the 'New Playlist' button in the menu. You will then be given an easy to remember URL to share.
