// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  margin-top: 70px;
}

.form-panel {
  width: 600px;
  margin: 0 auto;
}

.form-group .col-sm-10 {
  margin-bottom: 20px;
}

.current-password .col-sm-10, .current-password .col-sm-2  {
  margin-top:50px;
}

.cancel-account {
  margin: 20px 0;
}
