// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-links {
  float:right;
}

.center{
  text-align: center;
  margin: 50px 0;
}
