// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-thumbnail {
  width: 100%;
}

.track-points {
  color: #a8a8a8;
  margin-right: 10px;
}

#video iframe {
  width: 100%;
}
