// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-thumbnail {
  width: 100%;
}

.track-points {
  color: #a8a8a8;
  margin-right: 10px;
}

#video {
  height: 90%;
  iframe {
    width: 100%;
    height: 90%;
  }
}

.span.track-points, .track-vote-form {
  display: inline;
}

#track-sorting {
  margin-bottom:20px;
}

.track-title {
  margin-top:0;
}
