.form-group.fields.track-group
  %h4
    Track
    %small= link_to_function '(remove)', 'removeFields(this)'
  = f.label :content, 'URL'
  = f.hidden_field :_destroy

  = f.text_field :url, class: 'form-control'
